.c-bread-crumb_--_
{
  margin: 16px 0 16px 145px;

  a
  {
    text-decoration: none;
    text-transform: none;
    color: #898989;
    font-size: 12px;
    font-weight: normal;
  }

  img
  {
    vertical-align: middle;
  }

  .item_--_
  {
    margin: 0 6px;
  }
}