.c-content_--_
{

  .primary-title_--_
  {
    font-size: 20px;
    font-weight: lighter;
    color: #ec007a;
    text-align: left;
    border-bottom: 1px solid #c9c9c9;
    margin-right: 46px;
    padding-bottom: 20px;
  }

  p
  {
    font-size: 16px;
    font-weight: normal;
    color: #898989;
  }

  .col-6_--_
  {
    width: 55%;
  }

  .col-3_--_
  {
    width: 15%;
  }

  .floatLeft
  {
    float: left;

    img
    {
      border-radius: 8px;
    }
  }

  .content-txt_--_
  {
    width: 75%;
    text-align: left;
    margin-left: 30px;
  }

  .bread_--_
  {
    text-align: left;
    margin-left: 26px;
    margin-top: 40px;
  }

  .box_--_
  {
    border: 1px solid #ec007a;
    width: 160px;
    height: 148px;
    margin: 28px;
    padding: 11px;

    img
    {
      width: 46px;
      margin-top: 8px;
    }
  }

  .fix_--_
  {
    padding-right: 72px;
  }
}