.c-toolbar-separator_--_
{
  display: inline-block;
  height: 32px;
  border-left: 1px solid #ccc;
  line-height: normal;
  list-style: none;
  margin: 0 2px;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
  width: 0;
}